<!DOCTYPE html>
<html ng-app="agendaTelefonica">
    <head>
        <meta charset="UTF-8">
        <title>Agenda Telefônica</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="estilo.css">
    </head>

<body>
    <p>
        <div class="containner-fluid">
            <div class="row" ng-controller="ListaTelefonicaCtrl">
                <h2>{{app}}</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Operadora</th>
                            <th>Código da operadora</th>
                            <th>Apelido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contato in contatos">
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>{{contato.nome}}</td>
                            <td>{{contato.telefone}}</td>
                            <td>{{contato.operadora}}</td>
                            <td>{{contato.codigo}}</td>
                            <td>{{contato.apelido}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script> 
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script> 
    <script src="js/app.js"></script> 
</body>

</html>